{% extends 'base.html' %}

{% block content %}
<h1 class="text-center">DETALIL</h1>
<h2>{{ article.pk }} 번째 글</h2>
<hr>
<p>제목 : {{ article.title }}</p>
<p>내용 : {{ article.content }}</p>
<p>작성 시각 : {{ article.created_at }}</p>
<p>수정 시각 : {{ article.update_at }}</p>
<hr>
<!-- 댓글 작성 form -->
<form action="{% url 'articles:comments_create' article.pk %}" method="POST">
  {% csrf_token %}
  <label for="content">CONTENT</label>
  <input type="text" name="content" id="content">
  <input type="submit" value="submit">
</form>
<hr>
<p><b>{{ comments|length }} 개의 댓글</b></p>
<hr>
{% for comment in comments %}
  <p> 내용 : {{ comment.content }} </p>
  <p>생성날짜 : {{ comment.created_at }} </p>
  <p style="display:inline;">수정 날짜 : {{ article.update_at }}</p>
  <form action="{% url 'articles:comment_delete' article.pk comment.pk%}" method="POST" onclick="return confirm('댓글 삭제?')" style="display:inline;">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>
<hr>
{% empty %}
  <p><b>댓글이 없어요..</b></p>
<hr>
  
{% endfor %}


<a href="{% url 'articles:update' article.pk %}">[UPDATE]</a>
<a href="{% url 'articles:index' %}">[BACK]</a>
<form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울거야?')">
  {% csrf_token %}
  <input type="submit" value="DELETE">
</form>


{% endblock  %}