<div class="card mb-3">
  <div class="card-header">
    작성자 : {{ article.user }}
  </div>
  <div class="card-body">
    <h5 class="card-title"> No.{{ article.pk }} {{ article.title }}</h5>
    <hr>
    <p class="card-text">
      <a href="{% url 'articles:like' article.pk %}">
      {% if user in article.like_users.all %}
        <i class="fas fa-heart" style="color: crimson;"></i>
      {% else %}
        <i class="far fa-heart" style="color: black;"></i>
      {% endif %}
      </a>
      {{ article.like_users.all.count }}명이 이 글을 좋아합니다.   
      <!--
      <p>{{ article.like_users.all.count }}명이 이 글을 좋아합니다.</p> 
      <p>{{ article.like_users.all|length }}명이 이 글을 좋아합니다.</p>
      -->
    </p>
    <a href="{{ article.get_absolute_url }}" class="btn btn-primary">DETAIL</a>  
  </div>
</div>





